.slideInOutLeft-in{
  animation: slideInLeft 300ms ease-in forwards;
}

.slideInOutLeft-out{
  animation: slideOutLeft 300ms ease-in forwards;
}

@keyframes slideInLeft {
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(100%);
  }
}

@keyframes slideOutLeft {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0%);
  }
}
.slideInOutRight-in{
  animation: slideInRight 300ms ease-in forwards;
}

.slideInOutRight-out{
  animation: slideOutRight 300ms ease-in forwards;
}

@keyframes slideInRight {
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(100%);
  }
}

@keyframes slideOutRight {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0%);
  }
}
