<ng-scrollbar (clickOutside)="navMob()" style="height: calc(100vh - 50px)">
  <div class="navbar-content">
    <ul class="nav pcoded-inner-navbar" (clickOutside)="fireOutClick()">
      @for (item of navigations(); track $index ) {
      @if (!item?.isHidden) {
      @if (item?.type === 'group') {
      <app-nav-group [item]="item"></app-nav-group>
      }
      @if (item?.type === 'collapse') {
      <app-nav-collapse [item]="item"></app-nav-collapse>
      }
      @if (item?.type === 'item') {
      <app-nav-item [item]="item"></app-nav-item>
      }
      }
      }
    </ul>
    <!-- <div class="card text-center small-card">
        <div class="card-body p-1">
          <img src="assets/images/softcafe.png" alt="images" class="img-fluid mb-1"style="max-width:10%" />
          <h6>Softcafe IT Solution Ltd.</h6>
          <a href="http://softcafesolution.com/"
            target="_blank"
            class="btn text-white btn-primary btn-sm">
            Softcafe IT Solution
          </a>
        </div>
      </div> -->
    <!-- <div class="version">
        <label disabled class="pe-auto">v{{ currentApplicationVersion }}</label>
      </div> -->
  </div>
</ng-scrollbar>