// @use 'bootstrap/scss/bootstrap';
@use '../node_modules/@ng-select/ng-select/themes/default.theme.css';
@use '../node_modules/bootstrap-icons/font/bootstrap-icons.scss';

// Bootstrap SCSS
// @use '../node_modules/bootstrap/scss/bootstrap' as *;
@use "@coreui/coreui/scss/coreui" as * with (
  $enable-deprecation-messages: false
);
@use "@coreui/coreui/scss/mixins/transition" as *;
@use "@coreui/coreui/scss/mixins/color-mode" as *;
// ✅ 1. Configure CoreUI FIRST

// ✅ 2. THEN import CoreUI mixins or other submodules

@import 'scss/settings/custom-variables';
@import 'scss/settings/theme-variables';

@import 'scss/themes/general';
// Theme Font
@import 'scss/themes/font/theme-font';


@import 'scss/themes/generic';
@import 'scss/themes/minixs/function';

// // icon
@import 'scss/themes/font/datta-icon';
@import 'scss/themes/font/feather';
@import 'scss/themes/font/fontawesome';
@import 'scss/themes/font/flaticon';

// component
@import 'scss/themes/component/component';

// // theme layouts
@import 'scss/themes/layouts/menu-lite';
@import 'scss/themes/layouts/menu-ng';

// // dashboard
// @import 'scss/themes/pages/dashboard.scss';
// @import 'scss/themes/pages/authentication';

@import 'scss/themes/chat/chat';

// // custom
// @import 'scss/themes/custom';

// /* basic elements */
// @import 'scss/variables';
// @import 'scss/theme-elements/theme-elements';


@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}

input[readonly] {
  background-color: #f5f5f5;
  color: #999;
  border: 1px solid #ccc;
  cursor: not-allowed;
}

