@if (this.navigationList) {
@for (breadcrumb of navigationList; track breadcrumb?.id; let last = $last) {
@if (last && breadcrumb.breadcrumbs !== false) {
<div class="page-header" style="padding-top: 5px; padding-bottom: 5px; margin-top: -25px; margin-bottom: 10px;">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <ul class="breadcrumb" style="font-size: 14px; margin-bottom: 0;">
          <li class="breadcrumb-item me-2">
            <a [routerLink]="['/']" title="Dashboard"><i class="feather icon-home"></i></a>
          </li>
          @for (breadcrumb of navigationList; track breadcrumb?.id) {
          @if (breadcrumb.url !== false) {
          <li class="breadcrumb-item me-2">
            <a [routerLink]="breadcrumb.url">{{ breadcrumb.title }}</a>
          </li>
          }
          @if (breadcrumb.url === false && breadcrumb.type !== 'group') { <li class="breadcrumb-item me-2">
            <a href="javascript:">{{ breadcrumb.title }}</a>
          </li>
          }
          }
        </ul>
      </div>
    </div>
  </div>
</div>
}
}
}
