@if (isSpinnerVisible()) {
<div id="http-loader">
  <div class="loader-bg">
    @switch (spinner) {
    <!-- material-line -->
    @case (Spinkit.skLine) {
    <div class="sk-line-material" [class.colored]="!backgroundColor">
      <div class="sk-child sk-bounce1" [style.background-color]="backgroundColor"></div>
    </div>
    }
    <!-- skWave -->
    @case (Spinkit.skWave) {
    <div class="sk-wave">
      <div class="sk-rect sk-rect1" [style.background-color]="backgroundColor"></div>
      <div class="sk-rect sk-rect2" [style.background-color]="backgroundColor"></div>
      <div class="sk-rect sk-rect3" [style.background-color]="backgroundColor"></div>
      <div class="sk-rect sk-rect4" [style.background-color]="backgroundColor"></div>
      <div class="sk-rect sk-rect5" [style.background-color]="backgroundColor"></div>
    </div>
    }
    @case (Spinkit.skThreeBounce) {
    <!-- skThreeBounce -->
    <div class="sk-three-bounce">
      <div class="sk-child sk-bounce1" [style.background-color]="backgroundColor"></div>
      <div class="sk-child sk-bounce2" [style.background-color]="backgroundColor"></div>
      <div class="sk-child sk-bounce3" [style.background-color]="backgroundColor"></div>
    </div>
    }
    @case (Spinkit.skDoubleBounce) {
    <!-- skDoubleBounce -->
    <div class="sk-double-bounce">
      <div class="sk-child sk-double-bounce1" [style.background-color]="backgroundColor"></div>
      <div class="sk-child sk-double-bounce2" [style.background-color]="backgroundColor"></div>
    </div>
    }
    @case (Spinkit.skChasingDots) {
    <!-- skChasingDots -->
    <div class="sk-chasing-dots">
      <div class="sk-child sk-dot1" [style.background-color]="backgroundColor"></div>
      <div class="sk-child sk-dot2" [style.background-color]="backgroundColor"></div>
    </div>
    }
    @case (Spinkit.skCubeGrid) {
    <!-- skCubeGrid -->
    <div class="sk-cube-grid">
      @for (i of [1,2,3,4,5,6,7,8,9]; track i) {
      <div class="sk-cube" [style.background-color]="backgroundColor"></div>
      }
    </div>
    }
    @case (Spinkit.skWanderingCubes) {
    <!-- skWanderingCubes -->
    <div class="sk-wandering-cubes">
      <div class="sk-cube sk-cube1" [style.background-color]="backgroundColor"></div>
      <div class="sk-cube sk-cube2" [style.background-color]="backgroundColor"></div>
    </div>
    }
    @case (Spinkit.skSpinnerPulse) {
    <!-- skSpinnerPulse -->
    <div class="sk-spinner-pulse" [style.background-color]="backgroundColor">
    </div>
    }
    @case (Spinkit.skRotatingPlane) {
    <!-- skRotatingPlane -->
    <div class="sk-rotating-plane" [style.background-color]="backgroundColor">
    </div>
    }
    @default {
    <!-- Default Fallback -->
    <div class="sk-wave">
      <div class="sk-rect sk-rect1" [style.background-color]="backgroundColor"></div>
      <div class="sk-rect sk-rect2" [style.background-color]="backgroundColor"></div>
      <div class="sk-rect sk-rect3" [style.background-color]="backgroundColor"></div>
      <div class="sk-rect sk-rect4" [style.background-color]="backgroundColor"></div>
      <div class="sk-rect sk-rect5" [style.background-color]="backgroundColor"></div>
    </div>
    }
    }

  </div>
</div>
}