<div class="skeleton-form">
    <div class="skeleton-row row">
        <div class="skeleton-col col-md-4">
            <div class="skeleton-label"></div>
            <div class="skeleton-input"></div>
        </div>
        <div class="skeleton-col col-md-4">
            <div class="skeleton-label"></div>
            <div class="skeleton-input"></div>
        </div>
        <div class="skeleton-col col-md-4">
            <div class="skeleton-label"></div>
            <div class="skeleton-image-upload">
                <div class="skeleton-image-box"></div>
                <div class="skeleton-image-text"></div>
            </div>
        </div>
    </div>
    <div class="skeleton-row row">

        <div class="skeleton-col col-md-4">
            <div class="skeleton-label"></div>
            <div class="skeleton-input"></div>
        </div>
        <div class="skeleton-col col-md-4">
            <div class="skeleton-label"></div>
            <div class="skeleton-input"></div>
        </div>

        <div class="skeleton-col col-md-4">
            <div class="skeleton-label"></div>
            <div class="skeleton-radio-group">
                <div class="skeleton-radio"></div>
                <div class="skeleton-radio-text"></div>
            </div>
        </div>
    </div>

    <div class="skeleton-row row">
        <div class="skeleton-col col-md-4">
            <div class="skeleton-label"></div>
            <div class="skeleton-input"></div>
        </div>
        <div class="skeleton-col col-md-4">
            <div class="skeleton-label"></div>
            <div class="skeleton-input" style="width: 70%"></div>
        </div>
    </div>
    <div class="shimmer-wave"></div>
</div>