<form [formGroup]="form" (ngSubmit)="onSubmit()" class="g-3 needs-validation" novalidate>

    <div class="row">
    @for (field of formDataInfo; track field) {
        <div class="form-floating col-md-6 mb-2">
        @if (field.type === 'textarea'; ) {
            <textarea [formControlName]="field.name"
                value="Mark" [id]="field.id" class="form-control" [placeholder]="field.placeholder"
                [ngClass]="{ 'is-invalid': isFieldInvalid(field.name), 'is-valid': !isFieldInvalid(field.name)
                 && form.get(field.name)?.touched && form.get(field.name)?.hasError('required')}">
            </textarea>
            <label [for]="field.id" class="form-label mx-3">
                @if (field.faIcon;) {
                    <!-- <fa-icon class="pe-2" [icon]="['fas', field.faIcon]"></fa-icon> -->
                     <i class="fa" [ngClass]="field.faIcon" aria-hidden="true"></i>
                }
                {{ field.label }}
            </label>
            @if (isFieldInvalid(field.name); ) {
            <div class="invalid-feedback">
                @for (errorKey of getFieldErrors(field.name); track errorKey) {
                <div>
                    {{ getValidationMessage(field.name, errorKey) }}
                </div>
                }
            </div>
            }
        } @else if (field.type === 'select'; ) {
            <select [formControlName]="field.name"
                value="Mark" [id]="field.id" class="form-control"
                [ngClass]="{ 'is-invalid': isFieldInvalid(field.name), 'is-valid': !isFieldInvalid(field.name)
                && form.get(field.name)?.touched && form.get(field.name)?.hasError('required')}">
                  <option [value]="''" disabled>Select Country</option>
                @for (value of field.selectOption; track value) {
                  <option [value]="value.value">{{value.name}}</option>
                }
            </select>
            <label [for]="field.id" class="form-label mx-3">
                @if (field.faIcon;) {
                    <!-- <fa-icon class="pe-2" [icon]="['fas', field.faIcon]"></fa-icon> -->
                    <i class="fa" [ngClass]="field.faIcon" aria-hidden="true"></i>
                }
                {{ field.label }}
            </label>
            @if (isFieldInvalid(field.name); ) {
            <div class="invalid-feedback">
                @for (errorKey of getFieldErrors(field.name); track errorKey) {
                <div>
                    {{ getValidationMessage(field.name, errorKey) }}
                </div>
                }
            </div>
            }
        }@else {
            <input [type]="field.type || 'text'" [formControlName]="field.name" 
                value="Mark" [id]="field.id" class="form-control" [placeholder]="field.placeholder"
                [ngClass]="{ 'is-invalid': isFieldInvalid(field.name), 'is-valid': !isFieldInvalid(field.name) && form.get(field.name)?.touched && form.get(field.name)?.hasError('required')}" />
            <label [for]="field.id" class="form-label mx-3">
                @if (field.faIcon;) {
                    <!-- <fa-icon class="pe-2" [icon]="['fas', field.faIcon]"></fa-icon> -->
                    <i class="fa" [ngClass]="field.faIcon" aria-hidden="true"></i>
                }
                {{ field.label }}
            </label>
            @if (isFieldInvalid(field.name); ) {
            <div class="invalid-feedback">
                @for (errorKey of getFieldErrors(field.name); track errorKey) {
                <div>
                    {{ getValidationMessage(field.name, errorKey) }}
                </div>
                }
            </div>
            }
            
        }
        </div>
    }
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
            Update Profile
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="onCancel('Cancel click')">Cancel</button>
    </div>
</form>