
<div class="container">
    @if (!loading() ) {
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body position-relative">
                    <div style="position: relative;">
                        <img [src]="coverImage()" class="card-img-top" alt="Cover Image" style="height: 320px;">
                    </div>
                    <div class="position-relative" style="top: -100px;">
                        <div class="mb-3 row gradiant" style="margin: 0 2px;">
                            <div class="col-8 d-flex align-items-center">
                                <div class="col-auto">
                                    <div class="position-relative">
                                        <img [src]="profileImage()" alt="Profile Image"
                                            class="rounded-circle me-3 col-auto shadow"
                                            style="height: 100px !important; width: 100px !important; border: 3px solid rgba(0, 0, 0, 0.438);">
                                        <button type="button" class="btn p-0 shadow position-absolute rounded-circle"
                                            style="bottom: 5px; width: 30px; height: 30px; right: 10px; background-color: rgba(112, 112, 112, 0.781);"
                                            (click)="profileImageUpload(prfl)"><i class="fa fa-camera fa-1x"
                                                aria-hidden="true"></i></button>
                                        <input type="file" #prfl class="d-none" [accept]="imgFile" [multiple]="'false'"
                                            (change)="onProfileImageChange($event, prfl)">
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <h1 class="card-title col-auto">{{ userDetails?.fullName }}</h1>
                                </div>
                            </div>
                            <div class="col-4 position-absolute" style="right: 0; top:50px">
                                <div class="mb-3 me-3 cursor-pointer d-flex justify-content-end">
                                    <div>
                                        <input type="file" #fileInput class="d-none" [accept]="imgFile"
                                            [multiple]="'false'" (change)="onCoverImageChange($event, fileInput)" />
                                        <button type="button" class="btn shadow" style="background: rgb(228, 223, 223);"
                                            (click)="coverImageUpload(fileInput)">
                                            <i class="fa fa-cloud-upload" aria-hidden="true"> |</i>
                                            Add Cover Image
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" title="Edit Profile" class="btn btn-info" (click)="editProfile()">
                            <!-- <fa-icon [icon]="['fas', 'edit']"></fa-icon> | Edit Profile -->
                            <i class="fa fa-edit" aria-hidden="true"></i> | Edit Profile
                        </button>

                        <p class="card-text"><strong>About:</strong> {{ about }} </p>
                        <p class="card-text"><strong>Work:</strong> {{ work }}</p>
                        <p class="card-text"><strong>Education:</strong> {{ education }}</p>
                        <p class="card-text"><strong>Lives in:</strong> {{ location }}</p>
                        <p class="card-text"><strong>From:</strong> {{ hometown }}</p>
                        <p class="card-text"><strong>Relationship Status:</strong> {{ relationshipStatus }}</p>
                        <p class="card-text"><strong>Birthday:</strong> {{ dateFormate(userDetails?.dob) }}</p>
                        <p class="card-text"><strong>Contact Information:</strong> {{ contactInfo }}</p>
                        <p class="card-text"><strong>Interests:</strong></p>
                        <ul class="list-unstyled">
                          @for (interest of interests; track $index) {
                            <li>{{ interest }}</li>
                          }
                        </ul>
                        <p class="card-text"><strong>Favorite Quotes:</strong></p>
                        <ul class="list-unstyled">
                          @for (quote of favoriteQuotes; track $index) {
                            <li>{{ quote }}</li>
                          }
                        </ul>
                    </div>
                    <!-- Add more sections as needed -->
                </div>
            </div>
        </div>
    </div>
    }@else {
    <div class="container">
        <div class="row">
          @for (load of loads; track $index) {
            <div class="col-md-4">
                <!-- <app-card-loading></app-card-loading> -->
                <ithouse-spinner></ithouse-spinner>
            </div>
          }
        </div>
    </div>
    }

</div>
