
@defer (on viewport; on timer(5s)) {


<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Add New Product</h2>
            <a (click)="md.close('close')" class="btn btn-outline-primary">Back to product list</a>
            <!-- <a href="#" class="btn btn-outline-primary">Back to product list</a> -->
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <div class="mb-3">
                            <label for="productName" class="form-label">Product Name</label>
                            <input type="text" class="form-control" id="productName"
                                [(ngModel)]="productInfo.productName"
                                placeholder="Full Spectrum CBD Tincture - Pet Tincture">
                        </div>
                        <div class="mb-3">
                            <label for="businessDescription" class="form-label">Business Description</label>
                            <textarea class="form-control" id="businessDescription" rows="5"
                                [(ngModel)]="productInfo.productDescription">{{description}}</textarea>
                            <a (click)="uploadFile(fileInput, '.txt', 'text')"
                                class="btn btn-link p-0 mt-2 pointer">Upload .txt file</a>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Category</h5>
                        <div class="row">
                            @for (pInfo of userProductInfo(); track pInfo.productId; let i= $index) {
                                @let prdCatInfo = pInfo.productCategories;
                                @if (prdCatInfo; as productCategories) {
                                    <div class="col-md-6 mb-3">
                                        <label for="productCategory1" class="form-label">Product Category</label>
                                        <select class="form-select" id="productCategory1" [(ngModel)]="productInfo.productCategories[i].categoryId"
                                        (change)="findSubCategory($event)">
                                            @for (category of prdCatInfo; track category.categoryId; let j = $index) {
                                                <option [value]="null" disabled>--select category--</option>
                                                <option [value]="category.categoryId">{{category.categoryName}}</option>
                                            }
                                            </select>
                                    </div>
                                
                            <!-- @for (category of productInfo?.productCategories; track category; let i = $index) { -->
                                    @if (productInfo.productCategories[i]?.categoryId) {
                                        <div class="col-md-6 mb-3">
                                            <ithouse-select-dropdown
                                                [displayKey]="'subCategoryName'"
                                                [id]="'Product Category'"
                                                [label]="'Product Category'"
                                                [value]="prdCatInfo[i].productSubCategories"
                                                [(ngModel)]="productInfo.productCategories[i].productSubCategories"
                                                ></ithouse-select-dropdown>
                                                    <!-- (submit)="onSubmit($event)" -->
                                            
                                        </div>
                                    }
                                <!-- } -->
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Inventory</h5>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="quantity" class="form-label">Quantity</label>
                                <input type="number" class="form-control" id="quantity" value="1020">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="sku" class="form-label">SKU (Optional)</label>
                                <input type="text" class="form-control" id="sku" value="UGG-BB-PUR-06">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Selling Type</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sellingType" id="inStoreOnly" checked>
                            <label class="form-check-label" for="inStoreOnly">
                                In-store selling only
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sellingType" id="onlineOnly">
                            <label class="form-check-label" for="onlineOnly">
                                Online selling only
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sellingType" id="bothInStoreOnline">
                            <label class="form-check-label" for="bothInStoreOnline">
                                Available both in-store and online
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Variant</h5>
                        <button type="button" class="btn btn-outline-primary">+ Add Variant</button>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class="card-title">Product Images <i class="bi bi-info-circle"></i></h5>
                        <div class="row">

                            <div class="col-12">
                                <div class="product-images">
                                    @if (productImage(); as lnt;) {
                                    @if (lnt.length <=5 ) { <div
                                        class="product-image col-5 upload-placeholder text-center shadow"
                                        [ngClass]="{'element shadow rounded':isHovering}"
                                        (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
                                        (drop)="onDrop($event, fileInput, '.png, .jpg, .jpeg, .gif')"
                                        (click)="uploadFile(fileInput, '.png, .jpg, .jpeg, .gif', 'image')">
                                        @if (!isHovering) {
                                        <div>
                                            <a>Click to upload</a><br>or<br>drag and drop
                                        </div>
                                        }
                                </div>
                                }
                                }
                                @if (productImage().length; as images;) {
                                <div class="product-image" [ngClass]="images == 6 ? 'col-7' : 'col-4'">
                                    <img [src]="productImage()[0]" [alt]="images">
                                    <div class="product-image-overlay">
                                        <button (click)="updateImage(fileInput, '.png, .jpg, .jpeg, .gif', 0)"
                                            class="btn btn-light btn-sm">Replace</button>
                                        <button (click)="remveImage(0)" class="btn btn-warning btn-sm">Remove</button>
                                    </div>
                                </div>
                                <div class="col row auto justify-content-md-center">
                                    @for (image of productImage(); track $index; let i = $index, e = $even) {
                                    @if (i > 0) {
                                    <div class="col-auto px-2" [ngClass]="{'mb-1': i != productImage().length -1}">
                                        <div class="product-image" style="height: 100%;">
                                            <img [src]="image" alt="Product Image">
                                            <div class="product-image-overlay">
                                                <button (click)="updateImage(fileInput, '.png, .jpg, .jpeg, .gif', i)"
                                                    class="btn btn-light btn-sm">Replace</button>
                                                <button (click)="remveImage(i)"
                                                    class="btn btn-warning btn-sm">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                    }
                                </div>
                                }

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-body">
                    <h5 class="card-title">Shipping and Delivery</h5>
                    <div class="mb-3">
                        <label for="itemWeight" class="form-label">Items Weight</label>
                        <input type="number" class="form-control" id="itemWeight" value="12.00">
                    </div>
                    <div class="mb-3">
                        <label for="packageSize" class="form-label">Package Size (The package you use to ship your
                            product)</label>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Length" value="12.00">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Breadth" value="12.00">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Width" value="12.00">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-5">
                <div class="card-body">
                    <h5 class="card-title">Pricing</h5>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" class="form-control" id="price" value="$180.00">
                    </div>
                    <div class="mb-3">
                        <label for="compareAtPrice" class="form-label">Compare at Price</label>
                        <input type="text" class="form-control" id="compareAtPrice" value="$320.00">
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-xl-4 mb-1">
                                <button type="button" class="btn btn-outline-secondary w-100">Discard</button>
                            </div>
                            <div class="col-xl-4 mb-1">
                                <button type="button" class="btn btn-primary w-100">Schedule</button>
                            </div>
                            <div class="col-xl-4 mb-1">
                                <button type="button" class="btn btn-success w-100" (click)="addProduct()">Add Product</button>
                            </div>
                        </div>
                    </div>
                          
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->


    <input type="file" #fileInput class="d-none" [accept]="'.txt'" [multiple]="'false'"
        (change)="onProfileImageChange($event, fileInput)">

</div>
}@placeholder {
<div class="loading"></div>
}